@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  
/* background-color: #444; */
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  .container{
    width: 100%;
    max-width: 1450px;
  }

  .banner-img{
    background-image: url('https://img.freepik.com/premium-photo/man-running-street-with-view-river-morning_42682-464.jpg?ga=GA1.1.1197560304.1717760538&semt=ais_user');
    background-repeat: no-repeat;
    background-position:center;
    background-size: cover;
  }

  .text-title{
    font-weight: 600;
    font-size: 1.5rem;
  }
  .text-para{
    font-size: 1rem;
  }

  .btn{
    border-radius: 3px  ;
    font-size: 1.1rem;
    font-weight: 600;
    padding:8px  10px;
  }

  .card-time{
    @apply font-medium text-lg my-2;
  }

}
